*{
  margin: 0;
}

html,body{
  height: 100%;
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
}

.contain {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: relative;
  height: 100%;
}
.contain .message {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}
.contain .message .tab h2 {
  cursor: pointer;
  margin-top: 16px;
}
.contain .message .tab {
  min-height: 80px;
  border-radius: 8px;
  min-width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  color: black;
  padding: 10px;
  box-sizing: border-box;
}

#root, .App{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
  background-color: #121213;
}

.App .hp{
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: 2px solid white;
  position: fixed;
  top: 4px;
  right: 4px;
  font-size: 24px;
  cursor: pointer;
  z-index: 99;
}

.th{
  cursor: pointer;
}

.nav{
  
}

.guesses{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 25px;
  position: relative;
  width: 100%;
}

.guess{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  text-transform: capitalize;
}

.gl{

  height: 62px;
  width: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  border: solid 2px #3a3a3c;
  font-size: 2rem;
  font-weight: bold;
  transform-origin: center;
  user-select: none;
}

.keys{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 500px;
  position: relative;
  height: 204px;
  margin-bottom: 30px;
  font-size: 16px;
  color: #d7dadc;
}

.key{
  font-family: inherit;
  font-weight: bold;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  box-sizing: border-box;
  padding: 8px;
  text-align: center;
  height: 60px;
  min-height: 60px;
  border-radius: 4px;
  cursor: pointer;
  margin: 4px;
  background-color: #717374;
  width: 40px;
}

.key.submit {
  position: absolute;
  top: 140px;
  left: 12px;
  cursor: pointer;
  margin: 0;
  width: 88px;
  color: #d7dadc;
}
.key.delete {
  position: absolute;
  top: 140px;
  right: 12px;
  cursor: pointer;
  margin: 0;
  width: 88px;
  color: #d7dadc;
  font-size: 24px;
}

.help {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 100;
}

.help .close {
  position: absolute;
  top: 0;
  right: 0;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 36px;
}
.help .help-wrap {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  max-width: 360px;
}
.help .help-wrap p {
  width: 100%;
}

.help .help-wrap h3,
.help .help-wrap p {
  margin-top: 8px;
}

i{
  color: white;
}

@keyframes boxBounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes boxVibrate {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(5deg);
  }
  40% {
    transform: rotate(-5deg);
  }
  60% {
    transform: rotate(5deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}


.submit{
  position: absolute;
  top: 121px;
  left: 5px;
  margin: 0;
  cursor: pointer;
}